@charset 'utf-8';

/* Reset */
body, h1, h2, h3, h4, h5, h6, div, p, span, strong, em, blockquote, pre, address,
ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, input, select, label, textarea, img, a {margin:0; padding:0; border:0px;}
 
body {font:12px/18px malgun gothic,'맑은고딕',tahoma,sans-serif;}
ul, ol {list-style:none;}
table {margin:0;padding:0;border-spacing:0;border:0;border-collapse:collapse;}
html table {border-collapse:collapse;}
img, input, select, textarea, button {border:0; vertical-align:middle;}
select {height:26px; padding:3px; border:1px solid #929191; line-height:18px;}
input[type="text"], input[type="password"] {height:24px; padding:0 5px 0 5px; border:1px solid #929191;}
input[type="submit"] {cursor:pointer;}
legend, #SkipNavi, .ensconce {visibility:hidden; position:absolute; left:-99999px; top:-999px; width:0; height:0; font-size:0; line-height:0;}
caption {visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
hr {display:none;}
br {letter-spacing:0;}

a {color:#666; text-decoration:none;}
a:focus, a:hover, a:active {color:#666; text-decoration:underline;}
textarea {resize:none;}
 
/* Base */
label, input.button, input.submit , input.image, button {cursor:pointer;}

#Wrapper {
	width:1400px;
	margin:0 auto;
}

/* Header */
	#Header {
		overflow:hidden;
		height:30px;
		padding:15px 212px 0 228px;
		background:url('../img/hd_bar.gif') no-repeat 0 0;
	}
		#Header h1 {
			float:left;
			font-size:0;
			line-height:0;
		}
		#Header ul {
			float:right;
			overflow:hidden;
		}
			#Header ul li {
				float:left;
				padding:0 10px;
			}
			#Header ul li.cportal {padding-right:0;}
			#Header ul li.bar {background:url('../img/menu_bar.gif') no-repeat right 5px;}
				#Header ul li a {color:#dbecfc;}
				#Header ul li img {padding:0 5px;}
				#Header ul li img.logout {padding-left:0;}
					#Header ul li a span {font-weight:bold;}

/* Visual */
	#Visual {
		position:relative;
		height:370px;
		padding:0 232px 0 248px;
		border-top:1px solid #e9e9e9;
		border-bottom:1px solid #e9e9e9;
		background:#f4f4f4;
	}
		#Visual ul {
			overflow:hidden;
			width:712px;
			margin:0 auto;
			margin-top:50px;
		}
			#Visual ul li {
				float:left;
				height:145px;
				margin:0 40px;
			}
				#Visual ul li > a {
					display:inline-block;
					width:98px;
					padding-top:106px;
					font-size:12px;
					line-height:18px;
					text-align:center;
				}
			#Visual ul li.con1 {background:url('../img/con01.gif') no-repeat 0 0;}
			#Visual ul li.con2 {background:url('../img/con02.gif') no-repeat 0 0;}
			#Visual ul li.con3 {background:url('../img/con03.gif') no-repeat 0 0;}
			#Visual ul li.con4 {background:url('../img/con04.gif') no-repeat 0 0;}
			#Visual ul li.con5 {background:url('../img/con05.gif') no-repeat 0 0;}
			#Visual ul li.con6 {background:url('../img/con06.gif') no-repeat 0 0;}
			#Visual ul li.con7 {background:url('../img/con07.gif') no-repeat 0 0;}
			#Visual ul li.con8 {background:url('../img/con08.gif') no-repeat 0 0;}

		#Visual .prev {
			position:absolute;
			top:150px;
			left:250px;
		}
		#Visual .next {
			position:absolute;
			top:150px;
			right:230px;
		}

/* Container */
	#Container {
		overflow:hidden;
		margin:50px 0 0 180px;
	}
		#Container div {
			float:left;
			position:relative;
			width:410px;
			padding-left:35px;
			margin-left:40px;
			background:url('../img/bar01.gif') no-repeat 0 0;
		}
		#Container div:first-child {background:none;}	
			#Container div h2 {
				font-size:12px;
				line-height:18px;
				color:#333;
			}
			#Container div ul {margin-top:20px;}
				#Container div ul li {
					padding:0 0 0 10px;
					margin-top:6px;
					background:url('../img/bullet.gif') no-repeat 0 9px;
					text-align:right;
					color:#999;
				}
					#Container div ul li a {
						float:left;
						color:#666;
						vertical-align:middle;
					}
						#Container div ul li a img {margin-left:5px;}
					#Container div ul li .sub {
						width:60px;
						background:#fff;
					}
			.more {
				position:absolute;
				top:0;
				right:0;
				padding-right:7px;
				background:url('../img/bullet_more.gif') no-repeat right 8px;
			}

/* Footer */
	#Footer {
		overflow:hidden;
		height:30px;
		margin-top:75px;
		padding:0 212px 0 230px;
		background:#34363e;
	}
		#Footer p {
			float:left;
			font-weight:normal;
			font-size:11px;
			letter-spacing:1px;
			line-height:30px;
			color:#999;
		}
			#Footer h3 span {font-weight:bold;}
			#Footer div {
				float:right;
				padding-top:5px;
			}
				#Footer div a {
					padding-left:5px;
					margin-left:5px;
					background:url('../img/bar03.gif') no-repeat 0 3px;
					font-size:11px;
					color:#999;
				}
				#Footer div a:first-child {background:none;}